
<form action="" id="newComment">
    <input type="text" id="comment" placeholder="comment">
    <textarea id="body"></textarea>
    <button>Submit</button>
</form>
<ul class="collection"></ul>
    {{#each comment}}
    <li class="collection-item">{{comment}}</li>
    {{/each}}
    </ul>

