<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
            <a href="/">home</a>
            <a href="/dashboard">dashboard</a>
            <a href="/login">login</a>
            <a id="logout" href="/api/users/logout">logout</a>
            <h1>The Tech Blog</h1>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>Tech stuff</footer>
</body>
</html>