<h2>All your blogs:</h2>
<form action="" id="newBlog">
    <input type="text" id="title" placeholder="title">
    <textarea id="body" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>
{{#each blogs}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <p>Created by: {{blog.user.username}}</p>
    <button id="deleteBtn" class= "delete" value={{id}}>delete</button>
    <hr>
{{/each}}

<script src="/js/dashboard.js"></script>